main{
  min-height: calc(100vh - 130px);
}

.pg-card-wrapper{
  .card{
    width: 20%;
    img{
      max-width: 100%;
      aspect-ratio: 2/3;
      object-fit: cover;
      object-position: top;
    }
  }
}

.pg-title{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow : ellipsis !important;
}
